body {
    background: linear-gradient(45deg, #004a58, rgb(14, 14, 111));
    color: white;
    height: 100vh;
}


.content {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 4rem;
}

.dia {
    font-size: 2rem;
    
    color: rgb(255, 248, 193);
}
.hora {
    font-size: 5rem;
    font-weight: bold;

    color: rgb(255, 235, 85);
}
.missatge {
    font-size: 1.7rem;
    font-weight: bold;
    text-align: center;

    color: rgb(255 100 59);
}
